/* Start Variables */
:root {
    --main-color: #000;
    --white-color: #fff;
    --red-color: #f44336;
}
/* End Variables */
/* Start Components */
.global-heading {
    text-align: center;
}
.global-heading h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
}
.global-heading span {
    display: block;
    font-style: italic;
    color: #666;
    margin: 15px 0;  
}
/* End Components */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* Small */
@media (min-width: 600px) {
    .container {
        width: 600px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: unset;
}
body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
/* End Global Rules */

/* Start Header */
header {
    background: var(--main-color, #000);
    color: var(--white-color, #fff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding: 0 20px 0 0;
    height: 50px;
}
header nav:first-of-type {
    
}
header nav:first-of-type > ul > * {
    padding: 0 20px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
header nav:first-of-type > ul > *:hover,
header nav:first-of-type ul .pop-up li:hover {
    background-color: #cccccc;
    color: var(--main-color, #000);
    transition: 0.2s;
}
header nav:first-of-type > ul > .more {
    position: relative;
    cursor: pointer;
}
header nav:first-of-type > ul > .more i {
    padding-left: 3px;
    font-size: 0.9rem;
}
header nav:first-of-type > ul > li:hover,
header nav:last-of-type li:hover {
    background: #cccccc;
    color: var(--main-color, #000);
}
header nav:first-of-type > ul li {
    text-transform: uppercase;
    cursor: pointer;
}
header nav:first-of-type ul .pop-up {
    height: 0;
    overflow: hidden; 
    position: absolute;
    top: 50px;
    left: 0;
    transition: 0.2s;
}
header nav:first-of-type > ul > .more:hover .pop-up {
    height: 147.44px;
}
header nav:first-of-type ul .pop-up li {
    background: var(--white-color, #fff);
    color: var(--main-color, #000);
    padding: 10px 20px;
}
header a.search {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
header a.search:hover {
    background-color: var(--red-color, #f44336);
}
@media (max-width: 599px) {
    header nav:first-of-type > ul li:not(:first-child),
    header nav:first-of-type > ul ul {
        display: none;
    }
    header a.search {
        display: none;
    }
    header nav:last-of-type {
        background-color: var(--main-color, #000);
        text-transform: uppercase;
        top: 50px;
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        transition: .2s ease;
    }
    header nav:last-of-type li {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }   
    header nav:last-of-type:target {
        height: 200px;
    }
    header a.search {
        display: none;
    }
}
@media (min-width: 600px) {
    header {
        padding-right: 0;
    }
    header .open,
    header nav:last-of-type {
        display: none;
    }
}
/* End Header */

/* Start Landing section */
section.landing {
    width: 100%;
    height: 80vh;
}
section.landing .pic {
    width: 100%;
    height: 80vh;
    position: absolute;
}
section.landing .pic .info {
    color: var(--white-color, #fff);
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
section.landing .pic .info h2 {
    margin-top: 0;
    margin-bottom: 15px;
}
section.landing .pic .info p {
    margin: 0;
}
section.landing .pic:first-child {
    background-image: url(../images/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
section.landing .pic:nth-child(2) {
    background-image: url(../images/glenn-van-de-wiel-z0UWZON4a2s-unsplash.jpg);
    background-size: cover;
}
section.landing .pic:last-child {
    background-image: url(../images/gonzalo-poblete-C1tnzdAmPE8-unsplash.jpg);
    background-size: cover;
}
/* End Landing section */

/* Start Band section */
section.band {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
section.band .holder p {
    line-height: 1.7;
    max-width: 840px;
    text-align: start;
    margin: 0 auto;
}
section.band .holder .pictures {
    padding-top: 20px;
    max-width: 750px;
    margin: 0 auto;
}
@media (min-width: 600px) {
    section.band .holder .pictures {
        display: flex;
        justify-content: space-between;
    }
    section.band .holder .pictures > div {
        width: calc((100% - 25%) / 3);
    }
}
section.band .holder .pictures > div {
    margin-top: 30px;
}
section.band .holder .pictures > div h3 {
    font-weight: 400;
    font-size: 1.1rem;
}
section.band .holder .pictures > div img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
/* End Band section */

/* Start Tour section */
.tour {
    background-color: var(--main-color, #000);
    padding-top: 100px;
    padding-bottom: 100px;
}
.tour .holder {
    max-width: 800px;
    margin: 0 auto;
}
.tour .holder h2 {
    color: var(--white-color, #fff);
}
.tour .holder h2 + span {
    color: #888;
}
.tour .holder .tickets {
    padding: 10px 0 30px;
}
.tour .holder .tickets div {
    background-color: var(--white-color, #fff);
    color: #555;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.tour .holder .tickets div:not(:last-child) span {
    color: var(--white-color, #fff);
    background-color: var(--red-color, #f44336);
    padding: 2px 3px;
    font-size: 0.9rem;
    margin-left: 15px;
}
.tour .holder .tickets div:last-child {
    display: flex;
    justify-content: space-between;
}
.tour .holder .tickets div:last-child span {
    display: inline-block;
    font-size: 0.9rem;
    color: var(--white-color, #fff);
    background-color: var(--main-color, #000);
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
@media (min-width: 600px) {
    .tour .holder .cities {
        display: flex;
        gap: 20px;
    }
}
.tour .holder .cities .city {
    background-color: var(--white-color, #fff);
    margin-bottom: 20px;
}
.tour .holder .cities .city .pic img {
    width: 100%;
}
.tour .holder .cities .city .info {
    padding: 20px;
}
.tour .holder .cities .city .info h3 {
    font-size: 1rem;
    letter-spacing: -0.3px;
    margin-top: 0;
}
.tour .holder .cities .city .info .date {
    color: #555;
}
.tour .holder .cities .city .info a {
    background: var(--main-color, #000);
    color: var(--white-color, #fff);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 8px 15px;
    display: inline-block;
}
/* End Tour section */

/* Start Contact section */
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact .contact-info {
    padding-top: 40px;
}
.contact .contact-info ul {
    width: 260px;
}
.contact .contact-info ul li {
    margin-bottom: 5px;
}
.contact .contact-info ul li i {
    width: 30px;
}
.contact .contact-info ul li span {
    font-size: 1.15rem;
    font-weight: 400;
}
.contact .contact-info form {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    row-gap: 10px;
    flex-wrap: wrap;
}
.contact .contact-info form input:not(:last-child) {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
@media (min-width: 600px) {
    .contact .contact-info {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .contact .contact-info form {
        max-width: 400px;
    }
    .contact .contact-info form input:nth-child(-n+2) {
        width: calc((100% - 10px) / 2);
    }
    .contact .contact-info form input:first-child {
        margin-right: 10px;
    }
} 
.contact .contact-info form input:last-child {
    border: none;
    background: var(--main-color, #000);
    color: var(--white-color, #fff);
    padding: 10px 15px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
/* End Contact section */
/* Start Background */
img.background {
    display: block;
    width: 100%;
}
/* End Background */

/* Start Footer */
footer {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #777;
    text-align: center;
}
footer .social {
    margin-bottom: 20px;
}
footer .social a {
    font-size: 1.5rem; 
}
/* End Footer */

